$min-width: 320px;
$col-xxl-min-width: 1920px;
$col-mxl-min-width: 1500px;
$col-xl-min-width: 1200px;
$col-lg-min-width: 992px;
$col-md-min-width: 768px;
$col-sm-min-width: 576px;

$blue-color: #039be5;
$gray-color: #636363;
$gray-color-demo: #c9c9c9;
$red-color-1: #e61e36;
$red-color-2: #e46b64;

$main-background-color: #F5DEB3;
$header-background-color: #222533;
$button-background-color: #28a745 !important;
$button-border-color-hover: #e04c4f;

$main-text-color: #1a1a1a;





